body {
	margin:0;
	--col_bg: #121212;
	--col_03dp: #2C2C2C;
	--col_06dp: #3D3D3D;
	--col_12dp: #5E5E5E;
	--col_primary: #034efc;
	--col_white: #dcdfe6;
	
	--round_corners: 10px;
	--border-thickness: 5px;
	--padding-thickness: 5px;

	background-color: var(--col_bg);

	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sidebar {
	background-color: var(--col_bg);
	height: 100%;
	width: 5%;
	min-width: 50px;
	margin: 0;
}

.graph-toolbar {
	background-color: var(--col_03dp);
	height: 10%;
	width: 100%;
	z-index: 1;
	overflow: hidden;
	bottom: 0;
	flex-direction: row;
	display: flex;
}

.workspace {
	display: flex;
	margin:0;
	flex-direction: row;
	align-items: stretch;
	justify-content:left;
}

.linear-window {
	background-color: var(--col_bg);
	/* min-width: 400px; */
	position: fixed;
	width: 48%;
	height: 100%;
	right:0px;
	border-left: var(--border-thickness) solid var(--col_primary);
	padding: var(--padding-thickness);
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	font-size:smaller;
}

.graph-window {
	background-color: var(--col_bg);
	width: 50%;
	z-index: 1;
	min-height: 500px;
}

.chatbox-container {
	position: relative;
	width:100%;
	height:100px;
	margin: var(--padding-thickness);
	display: flex;
	flex-direction: row;
	align-items: center;
}

.chatbox-container > textarea {
	width:100%;
	height:100%;
	color: var(--col_white);
	background-color: var(--col_03dp);
	border: none;
	border-radius: var(--round_corners);

	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.graph-toolbar {
	position: fixed;
	bottom: var(--padding-thickness);
	width: inherit;
	height: min-content;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border-radius: 20px;
}

.toolbar-button {
	border-radius: 50%;
	height: 40px;
	aspect-ratio: 1/1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: var(--padding-thickness);
}


.gray {
	background-color: var(--col_06dp);
}

.primary {
	background-color: var(--col_primary);
}

.interactive:hover {
	filter: brightness(170%)
}
.interactive:active {
	filter: brightness(250%)
}


button {
	border-radius: var(--round_corners);
	border:none;
	margin: var(--padding-thickness);
}

.linear-message-space {
	height:100%;
	border-radius: var(--round_corners);
	margin: var(--padding-thickness);
	background-color: var(--col_03dp);
	display: flex;
	flex-direction: column;
}



.linear-message-content {
	padding: calc(var(--padding-thickness)/2);
	color: var(--col_white);
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: left;

	max-width: 90%;
}

.branch-button {
	position: relative;
	color: var(--col_bg);
	background-color: var(--col_primary);
	display: none;
}

p {
	color: var(--col_white);
	margin: 0;
}

.linear-message-info-line {
	display: flex;
	flex-direction: row;
	justify-content: right;
	margin-bottom: 0;
	height: fit-content;

	& > p {
		color:var(--col_white);
		text-rendering: optimizeLegibility;
		font-weight: bold;
		margin-right: 1rem;
	}
}

.linear-message-bubble {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: var(--col_03dp);
	border-radius: var(--round_corners);
	
	&:hover {
		background-color: var(--col_06dp);
	}

	&:hover .branch-button {
		display: inline-block;
	}
}

.delimiter {
	background-color: var(--col_primary);
}

.horizontal {
	height: 2px;
	width:90%;
	margin-left:auto;
	margin-right: auto;
}


.popup {
	/* margin:auto; */
	border-radius: var(--round_corners);
	background-color: var(--col_06dp);
	border: none;
} 

.popup::backdrop {
	background-color: #121212;
	opacity: 50%;
}


.vertical-flex {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}



.material-symbols-outlined {
	color: var(--col_white);
}

div[id^='JSCharting_'] > path {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #121212;
}